apiVersion: v1
kind: ConfigMap
metadata:
  name: root-ssh-pubkeys
  namespace: kube-system
data:
  mykey1: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDqXKPSns0NN7h/lX30LtD3t8zQLTmUynkeIMsM4hRPM4H9QwR1u0RBtHA9Y3Ar8+YHnbj2ZMbNm/oHNlPfj0O3iC/NTuq87kW8lCPkDXg29RR8ZZHrNwUs67iva77nzzrlxx+kJZpLWKPkq0D+tJu82H+ynF7Vpyc0V+TTw/VXViRzQpWQvdrm3GhN1D0ukXlwX2BrID7L1c+XWFqN5ZH/f3JpsVkoCigK20KQAUoU8ioh9LbqajEWU/YKGRxQW1Lr1OOnA+FB1zyOviepjbFUuup050w/5Hmc/K238x3MbrEXOVQnPwWcaZTpjwomNSj+BGCMXpOJKRp7cIppYPdm7XqOiha7Ick0enxViDQ81Mvs6vaZHtwqnNp76tDqdVDBvD006bQssvo0+fP2LNf1cuJAYjgzwiGilwRvSBDL+Jx4Hj38XgKjDs5jNCVNPH7FOAw9k8/1bLlAZ9NdDap0QVSf3tvZYLwVEJNu5ygTGwlIaf9//d/SGG8m1qQQsyE="
  mykey2: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOQUeDcARGPLa0bTueto1qFdzxk3lEUnBsRpzjk+cjC/YInuqA/i6BdIl2chBln6JeR7YT8vITofzEA0y7qksD4dwakxMqqi1dalZCrvsbx6L5Do1HVqiaHqHOU7y0LVPsL9pxOxvtTP4T0LJQQbo9JR157nJq8JcHky63i3P248z/V+vQvBqzCA6gH8eQmv37MA8U/9TJdTF0WHKaVczt6bwSYjq86XLs9ANQEvAg19HZQKEJjOZeL3lsWAU8v71zazt83Iz/7FGjyVGFlliZXOGCsrmuVW3Ir3JTIK8ajWFzQ4FLMkGIzBNhOd0sXaFLtsf1QHCyTQkY2uxpGdgB"
  mykey3: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDoSrMFu8IBzwMGD1gNhQR7FQgDI/Qn4KYUQHFpqgui0t8y0eQ2g2i+DvMjGxgxkDMcUXHzwcsnh7xXhk9Z1NgS9B5kS/aNTa8QLqIC32iTcuN3TIWO6E/96S12V9qOuhbh5DoZ9jlxqzg8uL61xoSNx7q/JKRwLPDgPo79uJj1ki4poyKj4r7a4pe/dYD++ASAELtNXH/PPmM5789iIlq0M98xE8ShsjUXE0VqxixnUAxo4stJ3xdd7ZEJgWNrL0YbxmU8c8F0AL0yq0N2NKdt0uHNSIFlOv8CnK84xMdOB0pAr0mgIQEeCKpKNvYV2lJI9/967MV53YyOXRe6JRBe3N7Owx9Xd3yQnY4kyK03S65oMDUc0zo+dY3yO7Czo48nHhwuKIjePMa5dild0euAdvnQodeLd7gqblp/bGbD9f4shXQCWn3GrbTsl5ZZs4/5Rg6EseK3P5CZ0qeKTxw8r5LjcjhM5f75GRaTDzwlQ1ohm2X63T14ThgQZTDtOlM="
